<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:margin="http://www.w3.org/1999/xhtml"
      xmlns:float="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: head"></head>


<body>



    <div class="jumbotron" style="text-align: center;">
        <h1>My Fitness Project</h1>
        <p>Finding yourself is going to take some serious work.</p>
    </div>
    <div class="embed-container">
        <iframe style="float:center" width="560" height="315" src="https://www.youtube.com/embed/IdTMDpizis8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe>
        <div class="jumbotron" style="text-align: center;">
            <h2>But, what is the point?</h2>
            <p>You may have asked yourself a similar question at some point in your life.  I have finally
                found where my self-discipline and motivation have been hiding and decided to put them to use.
                I will be using this project not only to help inspire others to find the determination within themselves,
                but to also fuel my own fire of self discovery and finding out just how far I will be able to take my own
                body.</p>
        </div>
    </div>



</body>
</html>