<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>


<body>
<h1 th:text="${title}">Title</h1>
<form method="post">
    Date<input type="text" name="date"/>

    Lift<input type="text" name="liftName"/>
    Reps<input type="text" name="liftName"/>

    Lift<input type="text" name="liftName"/>
    Reps<input type="text" name="liftName"/>

    Lift<input type="text" name="liftName"/>
    Reps<input type="text" name="liftName"/>

    <input type="submit" value="Add Workout"/>


</form>



</body>
</html>